supar
openai
sentencepiece
wandb
nltk
spacy
huggingface_hub
rouge-score
bert-score
numpy
language_tool_python==2.9.2
scikit-learn
scipy
tqdm
bitsandbytes
transformers
Pillow
ftfy
regex
flake8
yapf
isort
yacs
gdown
tb-nightly
future
wilds
tabulate
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
matplotlib
seaborn
openpyxl
